:root {
  --primary-color: #1a1e18;
  --secondary-color: #fff;
  --third-color: #f4f4f4;
  --main-font: "Cina GEO Test";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

nav {
  max-width: 100%;
  height: 80px;
  background-color: var(--white-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  font-family: var(--main-font);
}

nav .nav-logo h1 {
  font-family: var(--main-font);
  font-size: 24px;
  font-weight: 600;
}

nav .nav-logo h1 a {
  text-decoration: none;
  color: var(--primary-color);
}

nav .nav-links > ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-links ul li {
  padding: 0 15px;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 300;
}

nav .nav-links ul li a {
  color: var(--primary-color);
  text-decoration: none;
}

nav .nav-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 300;
}

nav .nav-button a {
  color: var(--primary-color);
  text-decoration: none;
}

nav .nav-button .nav-signup {
  padding: 10px 25px;
  border-radius: 20px;
  background-color: var(--primary-color);
}

nav .nav-button .nav-signup a {
  color: var(--secondary-color);
}
